{{! 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<main class="main">
  {{#with data}}
    <div class="main__content">
      <header class="header__content header">
        <h1 class="title">Додати до плейлиста</h1>
        <a href="spotify-playlist?id={{playlistId}}" class="">
          <img src="/img/close.svg">
        </a>
      </header>
      <ul class="track__list list">
        {{#each trackList}}
          <form method="POST" action="spotify-playlist-add?playlistId={{../playlistId}}&trackId={{id}}">
            <div class="track__container">
              <li class="track">
                <img width="92px" height="92px" src="{{image}}" alt="{{name}}">
                <div class="track__content">
                  <strong class="title">{{name}}</strong>
                  <em class="text--gray">{{author}}</em>
                </div>
              </li>
              <button class="button--center">
                <img src="/img/add-2.svg">
              </button>
            </div>
          </form>
        {{/each}}
      </ul>
    </div>
  {{/with}}
</main>

{{! 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}