{{! 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 }}
<main class="main">
  <header class="header__container header">
    <h1 class="header__title">Моя бібліотека</h1>
    <div class="header__image">
      <a href="/spotify-search">
        <img width="56px" height="56px" src="/img/search-2.svg">
      </a>
      <a href="/spotify-choose">
        <img width="56px" height="56px" src="/img/add-3.svg">
      </a>
    </div>
  </header>
  {{#with data}}
    <ul class="playlist__list">
      {{#each list}}
        <a class="playlist__href" href="/spotify-playlist?id={{id}}">
          <li class="playlist">
            <img width="345px" height="345px" src="{{image}}" alt="{{name}}">
            <div class="playlist__content">
              <strong class="title">{{name}}</strong>
              <span class="text--gray">Кількість пісень: {{amount}}</span>
            </div>
          </li>
        </a>
      {{/each}}
    </ul>
  {{/with}}
</main>

{{! 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}